/*
 Theme Name:   Point Child
 Theme URI:    
 Description:  Point Child Theme
 Author:       Qingyang Chen
 Author URI:   
 Template:     point
 Version:      0.0.1
 Tags:         
 Text Domain:  point-child
*/


@import url("../point/style.css");


/* =Theme customization starts here
-------------------------------------------------------------- */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}


/* NAVIGATION */

.secondary-navigation {
  float: none;
}
.secondary-navigation a {
  padding: 9px 30px;
  min-height: 30px;
  color: #fafafa;
  padding: 10px 30px 5px 30px;
}

#navigation {
  text-align: center;
  background: #666;
  height: 45px;
}
#navigation .menu {
  float: none;
  display: inline-block;
}
.secondary-navigation a {
  border-right: 0;
}
#navigation > ul li:last-child a {
  border-right: 1px solid #E2E2E2;
}

.featured-thumbnail.sponsored {
  border-left: 5px solid #ff3333;
}
.featured-cat.sponsored {
  background: #dd3333;
}